.flesh-box
  .alert グループを作成しました。
.wrapper
  .chat-side
    .side-header
      .side-header__box
        %p.side_header__box__user__name hirano
        %ul.side-header__box__menu
          %li.side-header__box__menu__edit-user
            %a{:href => "/groups/new"}
              %i.fa.fa-pencil-square-o
          %li.side-header_box_menu_new-group
            %a{:href => "/users/118/edit"}
              %i.fa.fa-cog

    .groups
      %a{:href => "/groupes/160/messages"}
        .group
          %p.group__group-name hirano
          %p.gropu__latest-message aaaaaaaaa

  .chat-main
    .main-header
      .main-header__left-box
        %h2.main-header__left-box__current-group{"date-gropu_id" => "160"}
          hirano
          %ul.main-header__left-box__member-list
            Member&nbsp;:&nbsp;
            %li.main-header__left-box__member-list__member
              hirano
      %a{:href => "/groups/160/edit"}
        .main-header__edit-btn Edit

    .messages

    .form
      %form#new_message.new_message{"accept-charset" => "UTF-8", :action => "/groups/160/messages", :enctype => "multipart/form-data", :method => "post"}
        %input{"name" => "UTF-8", :type => "hidden", :value => "√"}/
        %input{:type => "hidden", "name" => "authenticity_token", :value => "ZoMiNnB93J9+pArpl7qyMRUcBtMO6R618kdaui2gkgZNUzzSqKWCi+0H8VenObMYg3zepHcBT3l582A4Kzf5DA=="}/
        .input-box
          %input#message_content.input-box__text{:name => "message[content]", :placeholder => "type a message", :type => "text"}
          %label.input-box__image{:fore => "message_image"}
            %i.fa.fa-picture-o
            %input#message_image.input-box__image__file{:name => "message[image]", :type => "file"}
        %input.submit{"data-disable-with" => "Send", :name => "commit", :type => "submit", :value => "Send"}/
