$side_header_color: #253141;
$groups_color: #2f3e51;
$message_color: #fafafa;
$form_color: #ddd;
$submit_btn_color: #38aef0;
$side_header_font: 15px;
$side_group_name: 11px;
$side_group_message: 11px;
